:root {
  --text-primary: #040f0f;
  --text-secondary: #758ecd;
  --accent-primary: #5221e6;
  --accent-secondary: #181823;
  --background: #fcfffc;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  scroll-snap-stop: always;
}

html, body {
  height: 100vh;
  scroll-snap-type: y mandatory;
}

body {
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  transition: background-color 0.7s, color 0.5s;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--accent-primary);
  transform-origin: 0%;
}

.section {
  scroll-snap-align: start;
  margin-bottom: 200px;
}

.description {
  background-color: var(--text-primary);
}



.nav {
  cursor: pointer;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 800;
  color: white;
  transition: all 0.7s;
}

.nav:hover {
  background-color: var(--accent-primary);
  color: white;
}

.nav-name {
  font-family: "Merriweather", Georgia;
  font-size: 30px;
  color: var(--background);
  letter-spacing: 2px;
  font-weight: 900;
  transition: all 1s;
}

.name-screen {
  background-color: var(--accent-secondary);
}

.second-text {
  color: #fcfffcbc;
}

.content {
  margin: 30px;
  color: #fcfffc;
  font-family: "Alfa Slab One";
  font-size: 56px;
  font-weight: 400;
}

.side-contact-list {
  background-color: var(--background);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact-icon {
  border-radius: 50%;
}

.contact-icon:hover {
  transition: all 1s;
  color: var(--text-secondary);
  animation: 1s linear 0.2s 1 rotate;
  transform: rotateY(0) scale(1);
}

@keyframes rotate {
  from {
    transform: rotateY(0deg) scale(1);
  }
  to {
    transform: rotateY(360deg) scale(1.2);
  }
}

.personal-info {
  font-family: "Kalam";
  font-size: 20px;
  text-align: justify;
  color: var(--text-secondary);
}

.link {
  color: white;
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 3px;
  margin: 30px;
  padding: 10px 10px 10px 0;
  width: 10em;
  height: 30px;
  border-bottom: 2px solid red;
  transition: all 1s;
}

.link:hover {
  width: 11em;
  transform: translateY(-5px);
}

.skill {
  margin-top: 10px;
  transition: all 1s;
  border-radius: 7px;
  transition: all 1s;
}

.skill:hover {
  background-color: var(--accent-secondary);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 1s;
}


.skill:hover >* >*{
  
   transform: translateY(-10px);
   color: var(--background);
}
.skill:hover >* {
   transform: translateY(-10px);
   color: var(--background);
}
.skill-icon {
  color: var(--accent-primary);
}

.skill-icon-heading {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Merriweather";
  font-weight: 900;
  color: var(--accent-primary);
}

.skill-content {
  font-weight: 700;
  width: 75%;
  text-align: justify;
  font-family: "Kalam";
  font-size: 14px;
  color: var(--text-secondary);
}

.conveyor {
  display: flex;
  overflow: hidden;
  position: relative;
}

.icon-wrapper {
  display: flex;
  animation: conveyor 20s infinite linear;
}

i {
  font-size: 70px;
  padding: 20px;
  margin: 10px;
}

@keyframes conveyor {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.card-name {
  color: #fcfffc;
  font-family: "Alfa Slab One";
  letter-spacing: 1px;
  font-size: 27px;
  font-weight: 400;
}

.card-description {
  font-size: 18px;
  font-family: "Kalam";
  color: var(--text-secondary);
  text-align: justify;
}

.heading {
  color: var(--text-secondary);
  font-size: 25px;
  font-family: "Alfa Slab One";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading-white {
  color: var(--background);
  font-size: 25px;
  font-family: "Alfa Slab One";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub-heading {
  font-size: 42px !important;
  color: var(--text-primary);
  text-transform: none;
}

.card {
  height: 650px;
  background-color: var(--accent-secondary);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cover-img {
  width: 100%;
  height: 24rem;
}

.image-cover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.link-git {
  color: var(--text-primary);
  font-family: monospace;
  font-size: 19px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 10px;
  border: 3px solid var(--accent-primary);
  transition: all 1s;
}

.link-git:hover {
  background-color: var(--accent-primary);
  color: white;
}

.contact-page {
  background-color: var(--accent-primary);
}

input[type="text"], input[type="email"] {
  height: 50px;
  padding: 10px;
  text-indent: 10px;
  font-size: 17px;
  color: var(--background);
  background-color: transparent;
  outline: none;
  border: 3px solid var(--background);
  line-height: 5px;
  transition: all 0.5s;
  font-weight: 700;
  border-radius: 7px;
}

input[type="text"]:placeholder-shown, input[type="email"]:placeholder-shown {
  text-indent: 10px;
  text-transform: uppercase;
  color: var(--background);
  line-height: 2px;
  font-family: "Merriweather";
  font-size: 13px;
  letter-spacing: 1.2px;
  font-weight: 700;
}

input[type="text"]:focus, input[type="email"]:focus {
  color: var(--accent-secondary);
  background-color: aliceblue;
}

textarea {
  color: var(--background);
  font-size: 13px;
  padding: 5px;
  text-indent: 10px;
  resize: none !important;
  border-radius: 7px;
  outline: none;
  background-color: transparent;
  border: 3px solid var(--background);
  min-height: 250px;
  width: 75%;
  font-weight: 500;
  letter-spacing: 1.3px;
}

textarea:placeholder-shown {
  font-size: 17px;
  text-indent: 10px;
  font-size: 15px;
  transition: all 0.5s;
}

textarea:focus {
  color: var(--accent-secondary);
  background-color: aliceblue;
}

.submit-btn {
  background-color: var(--background);
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 1px;
  border-radius: 7px;
  transition: all 0.5s;
}

.submit-btn:hover {
  transform: translateY(-5px);
  background-color: var(--accent-secondary);
  color: var(--background);
}

.success-popup {
  width: 25%;
  margin-top: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  position: fixed;
  display: block;
  z-index: 9999;
}

.hide {
  display: none;
}

.credits {
  margin: 30px;
  font-size: 120px;
  letter-spacing: 10px;
  font-family: "Alfa Slab One";
  color: var(--background);
  font-weight: 900;
  text-align: start;
}

.link-resume {
  color: white;
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 3px;
  margin: 30px;
  padding: 10px 75px 10px 0;
  width: fit-content;
  height: 30px;
  border-bottom: 2px solid red;
  transition: all 1s;
  text-transform: capitalize;
}

.link-resume:hover {
  padding-right: 90px;
  transform: translateY(-5px);
}

.contact-footer {
  color: var(--background);
  margin-left: 20px;
  font-weight: 500;
  font-family: "Alfa Slab One";
  font-size: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

footer {
  background-color: var(--text-primary);
}

/*TODO:
    Configure different animations issues and find a solution for it
*/
 @media (max-width: 640px) {


  .content-cont{
    width: 100%;
    height: 90%;
    display:flex;
    flex-direction: column;
    position: relative;
  }
 .content{
  width: 75%;
  position: absolute;
  bottom: 10%;
  font-size: 40px;
 }
 .personal-info{
  font-size: 17px;
 }
 .nav-name{
  font-size: 1rem;
  transform: none !important;
 }
 .nav{
  font-size: 0.75em;
  padding: 20px;
 }
 .nav-bar{
  width: 100%;
  height: 10%;
 }
 .side-contact-list{
  position: absolute;
 margin: 0;
  top:250px;
  z-index: 9999;
 }
 .skill-icon-heading{
  font-size: 19px;
 }
 .skill-card{
  display:flex;
  flex-direction: column;
  row-gap: 20px;
 }
 .skill-content{
  display: none;
 }
 /*
 .heading{
    skill heading is not working properly
 } */
} 
