@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #040f0f;
  --text-secondary: #758ecd;
  --accent-primary: #7189ff;
  --accent-secondary: #2d3a3a;
  --background: #fcfffc;
}

